.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e94823;
  padding: 0.4rem;
  z-index: 100;
}

.search-bar-placeholder-container {
  position: relative;
  width: 100%;
  gap: 1rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: right;
  width: 100%;
  margin-right: 20px;
}

.navbar-middle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.navbar-right {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: right;
  margin-right: 10px;
}

.nav-icon {
  width: 30px;
  border-radius: 8px;
}

.search-bar-form {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  gap: 1rem;
  border-radius: 0%;
  border-style: none;
}

.search-bar {
  padding: 0.3rem;
  border-radius: 0%;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.search-bar-popup {
  position: absolute;
  top: 0; /* Position right below the placeholder */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 10px;
  max-width: 100%;
}

.search-bar-popup.visible {
  display: block; /* Show the popup when active */
}

.history-icon {
  width: 25px;
  border-radius: 8px;
  padding: 2px;
}

.nav-icon:hover {
  cursor: pointer;
  background-color: #e76446;
}
.history-icon:hover {
  cursor: pointer;
  background-color: #e76446;
}
